<p style="color: green"><%= notice %></p>

<%= render @fornecedore %>

<div>
  <%= link_to "Edit this fornecedore", edit_fornecedore_path(@fornecedore) %> |
  <%= link_to "Back to fornecedores", fornecedores_path %>

  <%= button_to "Destroy this fornecedore", @fornecedore, method: :delete %>
</div>
